@* User Detail View *@

@using _418FinalProject.Models;
@model User;

@{
    ViewData["Title"] = "User Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditUser" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-action="DeleteUser" asp-route-id="@Model.UserID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>

