@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using _418FinalProject.Models;
@model Test;

@{
    ViewData["Title"] = "Question Details";
}

<h1>Details</h1>

<div>
    <h4>Questions</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestTitle)
        </dd>        
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(q => Model.SelectQuestions.First().QuestionID)
            </th>
            <th>
                @Html.DisplayNameFor(q => Model.SelectQuestions.First().QuestionText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SelectQuestions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="EditQuestion" asp-route-id="@Model.TestID">Edit</a> |
    <a asp-action="DeleteQuestion" asp-route-id="@Model.TestID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
